.post {
	margin: 1em 0;
	/* display: flex; */
	/* flex-direction: column; */
	background-color: rgba(150, 155, 170, 0.1);
	border-radius: 0.8rem;
	padding: 0em 0.5em;
	border: solid 1px white;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
	overflow: scroll;
}
.post:first-child {
	margin-top: 2rem;
}

.title {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	font-weight: 800;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
.title > p {
	margin: 1rem 0 0.2rem 0;
}

.body {
	font-weight: 500;
	color: aliceblue;
	display: flex;
	align-self: center;
	justify-content: center;
	/* text-align: center; */
}
.footer {
	font-weight: 500;
	color: aliceblue;
}
.footer > p {
	margin-top: 0.2em;
}
