.login {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;
	font-size: 1.2rem;
	height: 70vh;
	gap: 1.6rem;
}

.login > p {
	font-size: 1.4rem;
	font-weight: 500;
}
